@page "/team"

<PageTitle>TESTTTT</PageTitle>

<h1>Team</h1>

<p role="status">Current BOT: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
